* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  transition: 0, 3s;
}

body {
  font-family: Open Sans;
  line-height: 1.5;
  min-height: 100vh;

  --primary-text-color: #181820;
  --secondary-text-color: #5c5c62;
  --durability-text-color: #6a737d9c;
  --icon-color: #6a737d;
  --border-color: #ff9a0045;
  --text-decoration-color: #ff9a00;
}

a {
  color: black;
  cursor: pointer;
}

a:hover {
  color: blue;
}

h3 {
  text-transform: uppercase;
  color: white;
  margin: 5px 0;
  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(63, 61, 61) 78.9%
  );
  font-weight: 600;
}

h3,
h4 {
  padding: 5px 20px;
}

.resume {
  max-width: 900px;
  background: white;
  margin: 0 auto 20px auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.resume__profile {
  display: flex;
  position: relative;
  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(63, 61, 61) 78.9%
  );
  color: white;
  gap: 50px;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.resume__profile_header {
  background-color: rgb(62, 51, 6);
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 0;
  text-align: left;
  padding: 10px 0 10px 300px;
}

.resume__profile_picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  z-index: 2;
}

.resume__contact {
}

.container {
  display: flex;
  gap: 100px;
  padding: 15px 20px;
}

.education,
.experience {
  gap: 20px;
}

.education__logo > img,
.experience__logo > img {
  height: 50px;
  width: 50px;
}

.education__title,
.experience__title {
  font-size: 18px;
  font-weight: 600;
}

.education__years,
.experience__years {
  font-size: 15px;
  color: gray;
}

ul {
  margin: 10px 0 10px 20px;
}

.skills,
.hobbies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill__item,
.hobbies__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  min-width: 90px;
  min-height: 90px;
  border: 2px solid gray;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.skill__item {
  background: linear-gradient(
    109.6deg,
    rgb(20, 30, 48) 11.2%,
    rgb(36, 59, 85) 91.1%
  );
}

.hobbies__item:hover,
.skill__item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.skill__item_img,
.hobbies__item_img {
  height: 35px;
  width: auto;
}

.skill__item_title,
.hobbies__item_title {
  font-weight: 600;
  padding: 0 5px;
  font-size: 13px;
  color: white;
}

.hobbies__item_title {
  color: black;
}

.hobbies__item_img {
  transition: 0.3s;
  background-size: contain;
  height: 35px;
  width: 35px;
}

.tabble-tennis {
  background-image: url("/assets/hobbies/table-tennis.png");
}

.hobbies__item:hover .tabble-tennis {
  background-image: url("/assets/hobbies/table-tennis-color.png");
}

.wrestling {
  background-image: url("/assets/hobbies/wrestling.png");
}

.hobbies__item:hover .wrestling {
  background-image: url("/assets/hobbies/wrestling-color.png");
}

.board-games {
  background-image: url("/assets/hobbies/board-games.png");
}

.hobbies__item:hover .board-games {
  background-image: url("/assets/hobbies/board-games-color.png");
}

.driving {
  background-image: url("/assets/hobbies/driving.png");
}

.hobbies__item:hover .driving {
  background-image: url("/assets/hobbies/driving-color.png");
}

.reading {
  background-image: url("/assets/hobbies/reading.png");
}

.hobbies__item:hover .reading {
  background-image: url("/assets/hobbies/reading-color.png");
}
