* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  transition: 0, 3s;
}

body {
  font-family: Open Sans;
  line-height: 1.5;
  height: 100vh;

  --primary-text-color: #181820;
  --secondary-text-color: #5c5c62;
  --durability-text-color: #6a737d9c;
  --icon-color: #6a737d;
  --border-color: #ff9a0045;
  --text-decoration-color: #ff9a00;
}

a {
  color: black;
  cursor: pointer;
}

a:hover {
  color: blue;
}

h3 {
  text-transform: uppercase;
  color: white;
  margin: 5px 0;
  padding: 0 20px;
  background-color: #272828;
  font-weight: 600;
}

.resume {
  max-width: 900px;
  background: white;
}

.resume__profile {
  display: flex;
  position: relative;
  background-color: #272828;
  color: white;
  gap: 50px;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.resume__profile_header {
  background-color: rgb(62, 51, 6);
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 0;
  text-align: left;
  padding: 10px 0 10px 300px;
}

.resume__profile_picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  z-index: 2;
}

.resume__contact-info {
}

.container {
  display: flex;
  gap: 100px;
  padding: 15px 20px;
}

.education__info,
.experience__info {
  display: flex;
  gap: 20px;
}

.education__info_logo > img,
.experience__info_logo > img {
  height: 50px;
  width: 50px;
}

.education__info_title,
.experience__info_title {
  font-size: 18px;
  font-weight: 600;
}

.education__info_years,
.experience__info_years {
  font-size: 15px;
  color: gray;
}

ul {
  margin: 10px 0 10px 20px;
}
